- for (var service in device.services) {
  li= device.services[service].api
  //a(href="/removeService/#{pzh}/#{pzp}/#{device.services[service].serviceAddress}/#{device.services[service].id}/#{device.services[service].api}") remove
- }
