extends bookingLayout
block content
  ul(data-role="listview",style="padding-bottom: 15px;")
    li(data-role='navbar') Please enter your details
  form(id="bookingForm",method="post")
    table
      tr
        td Contact name
        td
          input(type="text",name="name",class="required")
      tr
        td Contact telephone
        td
          input(type="text",name="contact",class="required phone",autocomplete="on")
      tr
        td Pickup time
        td
          select(id="time")
            - var startTime = new Date();
            - if (startTime.getMinutes() > 45) {
              - startTime = new Date(startTime.getTime() + (60-startTime.getMinutes())*60000);
            - } else if (startTime.getMinutes() > 30) {
              - startTime = new Date(startTime.getTime() + (45-startTime.getMinutes())*60000);
            - } else if (startTime.getMinutes() > 15) {
              - startTime = new Date(startTime.getTime() + (30-startTime.getMinutes())*60000);
            - } else if (startTime.getMinutes() > 0) {
              - startTime = new Date(startTime.getTime() + (15-startTime.getMinutes())*60000);
            - }
            - var startTimeSelect= ("00" + startTime.getHours()).substr(-2) + ":" + ("00" + startTime.getMinutes()).substr(-2);
            - var hour = 0;
            - var min = 0;
            - var val;
            - for (var i = 0; i < 24*4; i++) {
                - val = ("00" + hour).substr(-2) + ":" + ("00" + (min*15)).substr(-2);
                - if (startTimeSelect === val) {
                  option(selected="true",value="#{val}") #{val}
                - } else {
                  option(value="#{val}") #{val}
                - }
                - min++;
                - if (min === 4) {
                   - min = 0;
                   - hour++;
                - }
            - }
          input(id="pickupTime",type="hidden",name="pickupTime",value="#{startTime.toString()}")
      tr
        td Pickup from
          div.subTitle enter address including postcode
        td
          input(type="text",name="pickup",class="required",autocomplete="on")
      tr
        td Drop-off at
          div.subTitle enter address including postcode
        td
          input(type="text",name="dropoff",class="required",autocomplete="on")
      tr
        td Number of people
        td
          select(name="people")
            option 1
            option 2
            option 3
            option 4
      tr
        td(colspan="2",style="text-align:right")
          input(type="submit", value="Book Taxi")
