extends layout

block content
  div(data-role='content')
    ul(data-role='listview',data-theme="c")
      li 
        h3 Zone
        p #{pzh}
      li 
        h3 Name
        p #{about.name}
      li 
        h3 Country
        p #{about.country || "n/a"}
      li 
        h3 E-mail
        p #{about.email[0].value}
      li 
        h3 Authenticator
        p #{about.authenticator}
      li 
        h3 Identifier
        p #{about.identifier}
