extends layout

block content
  div(data-role='content')
    h3 App
    
    div(data-role='collapsible',data-content-theme="#{ui.collapsibleTheme}",data-collapsed="false",data-theme="#{ui.collapsibleTheme}",data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d")
        h3 Options
        ul(data-role='listview', data-inset='false', data-theme='b', data-theme="#{ui.optionTheme}", data-divider-theme="#{ui.dividerTheme}")
          li
            a(href='/remove-app/#{pzh}/#{pzp}/#{app.installId}', data-transition="slide") Remove App        

    div(data-role='collapsible',data-content-theme="#{ui.collapsibleTheme}",data-collapsed="false",data-theme="#{ui.collapsibleTheme}",data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d")
      h3 Configuration
      ul(data-role='listview', data-inset='false', data-theme='c', data-divider-theme="#{ui.dividerTheme}")
        li(data-role="list-divider") Name
        li
          h3 Long Name 
          p= (app.name ? app.name.unicode : "n/a")
          h3 Short Name 
          p= (app.shortName ? app.shortName.unicode : "n/a")
        li(data-role="list-divider") Id
        li
          p= app.id
        li(data-role="list-divider") Version
        li
          p= (app.version ? app.version.unicode : "n/a")
        li(data-role="list-divider") Description
        li
          p= (app.description ? app.description.unicode : "n/a")
        li(data-role="list-divider") Author
        li
          h3 Name 
          p= (app.author && app.author.name ? app.author.name.unicode : "n/a")
          h3 Author Email 
          p= (app.author && app.author.email ? app.author.email : "n/a")
          h3 Author Website 
          p
            -if (app.author && app.author.href)
              a(target="_blank",href="#{app.author.href}")= app.author.href
            -else
              |n/a
        li(data-role="list-divider") License
        li
          p= (app.license && app.license.text ? app.license.text.unicode : "n/a")
          h3 File 
          p= (app.license && app.license.file ? app.license.file : "n/a")
          h3 URL
          p= (app.license && app.license.href ? app.license.href : "n/a")
        li(data-role="list-divider") Start File
        li
          h3 Path 
          p= app.startFile.path
          h3 Encoding 
          p= app.startFile.encoding
          h3 Content Type 
          p= app.startFile.contentType
        li(data-role="list-divider") Pref Icon
        li
          p= (app.prefIcon ? app.prefIcon : "n/a")
        li(data-role="list-divider") Icons
        -if (app.icons) {
          -app.icons.forEach(function(item) {
            li
              h3 Path 
              p= item.path
              h3 Width 
              p= item.width
              h3 Height 
              p= item.height      
          -})
        - } else {
          li
            p n/a
        - }
        li(data-role="list-divider") Window Modes
        li
          p= (app.windowModes ? app.windowModes.toString() : "n/a")
        li(data-role="list-divider") Default Locale
        li
          p= (app.defaultLocale ? app.defaultLocale : "n/a")
        li(data-role="list-divider") Origin
        li
          p= (app.origin ? app.origin.toUriString() : "n/a")
        li(data-role="list-divider") Dimensions
        li
          h3 Width 
          p= (app.width ? app.width : "n/a")
          h3 Height 
          p= (app.height ? app.height : "n/a")
        li(data-role="list-divider") Install Id
        li
          p= app.installId
        