extends layout

block content
  div(data-role='content')
    ul(data-role='listview', data-inset='true', data-theme="a", data-divider-theme="d")
      li(data-role="list-divider",role="heading") Zones Online
      - for (var p in pzhList) {
          li
            - if (pzhList[p].url === serverName) {
              a(href='/pzh/#{pzhList[p].url}/#{pzhList[p].username}',data-transition="flip",title="#{pzhList[p].url}") #{pzhList[p].username} (You)
            - } else { 
              a(href='/pzh/#{pzhList[p].url}/#{pzhList[p].username}',data-transition="flip",title="#{pzhList[p].url}") #{pzhList[p].username}
            - }
      - }
      li(data-role="list-divider", role="heading")
        a(class="dash-refresh",href="#", data-role="button", data-icon="refresh", data-iconpos="left", data-inline="true", data-mini="true") Refresh
        a(href="logout", data-role="button", data-inline="true", data-mini="true", style="float:right;") Sign Out        
