extends layout

block content
  div(data-role='content')
    ul(data-role='listview', data-inset='true', data-theme="a", data-divider-theme="b")
      li(data-role="list-divider",role="heading") Connected PZHs
      - for (var pzh in pzhList) {
          li
            - if (typeof pzhList[pzh].username === "undefined" || pzhList[pzh].username === "undefined undefined") {
              a(href='/pzh/#{pzhList[pzh].url}',data-transition="flip") #{pzhList[pzh].url}
            - } else { 
              a(href='/pzh/#{pzhList[pzh].url}',data-transition="flip",title="#{pzhList[pzh].url}") #{pzhList[pzh].username}
            - }
      - }
      li(data-role="list-divider", role="heading")
        a(class="dash-refresh",href="#", data-role="button", data-icon="refresh", data-iconpos="left", data-inline="true", data-mini="true") Refresh
        a(href="logout", data-role="button", data-inline="true", data-mini="true", style="float:right;") Sign Out        
