extends layout

block content
  div(data-role='content')
    div(data-role='collapsible',data-content-theme="#{ui.collapsibleTheme}",data-collapsed="false",data-theme="#{ui.collapsibleTheme}")
      h3 Apps installed on #{pzp}
      ul(data-role='listview', data-inset='false', data-theme='b', data-theme="#{ui.optionTheme}", data-divider-theme="#{ui.dividerTheme}")
        - if (widgetList.length > 0) {
          - for (var wgt in widgetList) {
          -   var name = widgetList[wgt].name ? widgetList[wgt].name.visual : widgetList[wgt].id;
              li
                a(href='/nyi',data-transition="slide") #{name}
          - }
        - } else {
            li no widgets installed
        - }
        li(data-role="list-divider", role="heading")
          a(class="dash-refresh",href="#", data-role="button", data-icon="refresh", data-iconpos="left", data-inline="true", data-mini="true", data-theme="#{ui.optionTheme}") Refresh
  