!!! 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/js/jquery/jquery.mobile-1.2.0.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery/jquery-1.8.2.min.js')
    script(src='/js/jquery/jquery.mobile-1.2.0.min.js')
    title #{locals.title || ''}
    block head
  body
    - var mainTheme = (typeof ui === "undefined") ? "d" : ui.mainTheme;
    - var optionTheme = (typeof ui === "undefined") ? "d" : ui.optionTheme;
    div(id='#{locals.id || ''}',data-role='page',data-theme="#{mainTheme}")
      script
        function refreshPage() {
          $.mobile.changePage(
            window.location.href,
            {
              allowSamePageTransition : true,
              transition              : 'none',
              showLoadMsg             : false,
              reloadPage              : true,
              changeHash              : false
            });
        }        
        $(document).delegate("##{locals.id || 'random'}", "pageinit", function() {
          $(".dash-refresh").click(function () {
            window.location.reload(true);
          });
        });
      div(data-role='header',data-position="fixed", data-theme="#{optionTheme}")
        h1 #{locals.title || ''}
        - if (locals.id !== "home" && locals.id !== "login") {
          a(href="/",data-role="button",data-icon="home",data-iconpos="notext",data-transition="slide") home
          a(href="#",data-role="button",data-icon="back",data-iconpos="notext",data-transition="slide", data-rel="back") back
        - }
      div(class="content-panel")
        block content
      div(data-role='footer', data-position="fixed", data-theme="#{optionTheme}")
        div
          - if (typeof locals.ui !== "undefined") {
            p(style="float:right;text-align:right;margin-top:2px;font-size:.8em;") #{ui.serverName}&nbsp;
              span(style='font-size:.8em;padding-bottom:2px;')
                br
                |&nbsp;powered by 
                a(href="http://webinos.org",rel="external") webinos
                |&nbsp;
            a(href="#{ui.appURL}", target="_blank")
              img(src="/images/logo-small.png",style="padding-left:2px;padding-top:2px;")
          - }        
        
