extends layout

block content
  div(data-role='content')
    div(style="text-align:center") #{pzp}

    div(data-role='collapsible',data-content-theme="#{ui.collapsibleTheme}",data-collapsed="false",data-theme="#{ui.collapsibleTheme}")
      h3 Device Options
      ul(data-role='listview', data-inset='false', data-theme="#{ui.optionTheme}", data-divider-theme="#{ui.dividerTheme}")
        li
          a(href='/installed/#{pzh}/#{pzp}', data-transition="slide") Show Installed Apps
        li
          a(href='/nyi', data-transition="slide") Install App
        li
          a(href='/nyi', data-transition="slide") Wipe
        li
          a(href='/nyi', data-transition="slide") Diagnostics
  