extends layout

block content
  div(data-role='content')
    h3 #{pzhName}

    //- Devices
    include ../includes/zone/zone-devices

    //- Friends
    include ../includes/zone/zone-friends

    //- Zone options
    div(data-role='collapsible',data-content-theme="#{ui.collapsibleTheme}",data-theme="#{ui.collapsibleTheme}",data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d")
      h3 Zone Options
      ul(data-role='listview', data-divider-theme="#{ui.dividerTheme}")
        li(data-theme="#{ui.optionTheme}")
          a(href='/m/about/#{pzh}') About this Zone
        li(data-theme="#{ui.optionTheme}")
          a(href='/m/services/#{pzh}') Services Available
        li(data-theme="#{ui.optionTheme}")
          a(href='/m/nyi') Diagnostics
        - if (!ui.privileged) {
          li(data-role="list-divider", role="heading") &nbsp;
          li(data-theme="#{ui.optionTheme}")
            a(href='/logout') Sign Out
        - }