extends layout

block content
  div(data-role='content')
    h3 #{pzhName}

    //- Devices
    div(data-role='collapsible',data-content-theme="#{ui.collapsibleTheme}",data-collapsed="false",data-theme="#{ui.collapsibleTheme}",data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d")
      h3 Devices
      - var counter = 0;
      ul(data-role='listview', data-inset='false', data-theme="#{ui.optionTheme}", data-divider-theme="#{ui.dividerTheme}")      
        li(data-role="list-divider", role="heading")  Devices Online 
        - for (var pzp in pzpList) {
            - if (pzpList[pzp].isConnected) {
              - counter++; 
              li
                a(href='/m/pzp/#{pzpList[pzp].url}',title="#{pzpList[pzp].url}") #{pzpList[pzp].id}
            - }
        - }
        - if (counter === 0) {
            li(data-theme="#{ui.infoTheme}") None
        - }
        - if (counter !== pzpList.length) {
          li(data-role="list-divider", role="heading") Devices Offline
          - for (var pzp in pzpList) {
              - if (!pzpList[pzp].isConnected) {
                  li(title="#{pzpList[pzp].url}",data-theme="#{ui.infoTheme}") #{pzpList[pzp].id}
              - }
          - }
        - }
        li(data-role="list-divider", role="heading")
          a(class="dash-refresh",href="#", data-role="button", data-icon="refresh", data-iconpos="left", data-inline="true", data-mini="true", data-theme="#{ui.optionTheme}") Refresh

    //- Friends
    div(data-role='collapsible',data-content-theme="#{ui.collapsibleTheme}",data-theme="#{ui.collapsibleTheme}", data-collapsed="false",data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d")
      h3 Friends
      - counter = 0;
      - var haveConnected = false;
      - var showOptions = true; //(pzh === ui.serverName);
      ul(data-role='listview', data-inset='false', data-theme="#{ui.infoTheme}", data-divider-theme="#{ui.dividerTheme}") 
        //- Invite a friend
        - if (showOptions) {
          li(data-theme="#{ui.optionTheme}")
            a(href='/m/invite/#{pzh}') Invite a Friend
        - }
        //- List connected friends 
        li(data-role="list-divider", role="heading") Friends Online
        - for (var p in pzhList) {
            - if (pzhList[p].isConnected) {
              - counter++;
              - if (pzhList[p].url !== pzh) {
                - haveConnected = true;
                li(title="#{pzhList[p].url}") 
                  - if (showOptions) {
                    div(style="float:left;") #{pzhList[p].id}
                    div(style="text-align:right;")
                      a(href="/m/removeFriend/#{pzh}/#{pzhList[p].id}/#{pzhList[p].url}", data-role="button", data-icon="delete", data-mini="true", data-inline="true", data-iconpos="left", title="Remove this friend", data-theme="#{ui.optionTheme}") Remove
                  - } else {
                    |#{pzhList[p].id}
                  - }
              - }
            - }
        - }
        - if (!haveConnected) {
            li(data-theme="#{ui.infoTheme}") None
        - }
        //- Unconnected friends
        - if (counter !== pzhList.length) {
          li(data-role="list-divider", role="heading") Friends Offline
          - for (var p in pzhList) {
              - if (!pzhList[p].isConnected) {
                  li(title="#{pzhList[p].url}")
                    - if (showOptions) {
                        div(style="float:left;") #{pzhList[p].id}
                        div(style="text-align:right;")
                          a(href="/m/removeFriend/#{pzh}/#{pzhList[p].id}/#{pzhList[p].url}", data-role="button", data-icon="delete", data-mini="true", data-inline="true", data-iconpos="left", title="Remove this friend", data-theme="#{ui.optionTheme}") Remove
                    - } else {
                        |#{pzhList[p].id}
                    - }
              - }
          - }
        - }
        //- Pending requests
        li(data-role="list-divider", role="heading") Pending Friend Requests
        - if (requestList.length > 0) {
          - for (var p in requestList) {
                li #{requestList[p].name}
                  - if (showOptions) {
                    div(style='text-align:right;')
                      a(data-mini="true",data-inline="true",data-role="button",href='/m/approveFriend/#{pzh}/#{encodeURIComponent(requestList[p].name)}',data-icon='check', data-theme="#{ui.optionTheme}") Accept
                      a(data-mini="true",data-inline="true",data-role="button",href='/m/rejectFriend/#{pzh}/#{encodeURIComponent(requestList[p].name)}',data-icon='delete', data-theme="#{ui.optionTheme}") Reject
                  - }
          - }
        - } else {
          li(data-theme="c") No pending friend requests.
        - }
        li(data-role="list-divider", role="heading")
          a(class="dash-refresh",href="#", data-role="button", data-icon="refresh", data-iconpos="left", data-inline="true", data-mini="true", data-theme="#{ui.optionTheme}") Refresh

    //- Zone options
    div(data-role='collapsible',data-content-theme="#{ui.collapsibleTheme}",data-theme="#{ui.collapsibleTheme}",data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d")
      h3 Zone Options
      ul(data-role='listview', data-divider-theme="#{ui.dividerTheme}")
        li(data-theme="#{ui.optionTheme}")
          a(href='/m/about-me/#{pzh}') About this Zone
        li(data-theme="#{ui.optionTheme}")
          a(href='/m/services/#{pzh}') Services Available
        li(data-theme="#{ui.optionTheme}")
          a(href='/m/nyi') Diagnostics
        - if (!ui.privileged) {
          li(data-role="list-divider", role="heading") &nbsp;
          li(data-theme="#{ui.optionTheme}")
            a(href='/m/logout') Sign Out
        - }