extends layout

block content
  div(data-role='content')
    h3 #{pzh}

    - if (typeof pzp !== "undefined") {
        div(data-role='collapsible', data-inset='true',data-content-theme="#{ui.collapsibleTheme}",data-theme="#{ui.collapsibleTheme}",data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d")
          h3= pzp
          ul(data-role='listview', data-inset='false', data-theme='b', data-theme="#{ui.optionTheme}", data-divider-theme="#{ui.dividerTheme}", data-filter="true")
            - for (var s in services) {
              li= services[s].name
                //form(action="/removeService/#{pzh}/#{pzp}/#{encodeURIComponent(services[s].serviceAddress)}/#{services[s].id}/#{encodeURIComponent(services[s].api)}", method="post")
                  input(type="submit",data-role="button",data-inline="true",data-theme="#{ui.optionTheme}",value="Remove")
            - }
    - } else {
      - for (var zone in zones) {
          div(data-role='collapsible', data-inset='true',data-content-theme="#{ui.collapsibleTheme}",data-theme="#{ui.collapsibleTheme}",data-collapsed-icon="arrow-r", data-expanded-icon="arrow-d")
            h3= zone
            ul(data-role='listview', data-inset='false', data-theme='b', data-theme="#{ui.optionTheme}", data-divider-theme="#{ui.dividerTheme}", data-filter="true")
              li(data-role="list-divider") Zone Hub
              - for (var s in zones[zone].services) {
                li= zones[zone].services[s].api
              - }
              - for (var p in zones[zone].pzps) {
                li(data-role="list-divider")= p
                - for (var s in zones[zone].pzps[p].services) {
                  li= zones[zone].pzps[p].services[s].api
                    a(href="/removeService/#{pzh}/#{pzp}/#{zones[zone].pzps[p].services[s].serviceAddress}/#{zones[zone].pzps[p].services[s].id}/#{zones[zone].pzps[p].services[s].api}") remove
                - }
              - }
      - }

    - }
