h3 #{pzp}

div
  h3 Installed Apps
  ul
    - var count = 0;
    - for (var wgt in widgetList) {
      - count++;
      - var name = widgetList[wgt].name ? widgetList[wgt].name.visual : widgetList[wgt].id;
        li
          a(href='/m/app/#{pzh}/#{pzp}/#{widgetList[wgt].installId}') #{name}
    - }
    - if (count === 0) {
        li No Apps Installed
    - }
    li(data-role="list-divider", role="heading") &nbsp;
    li
      a(href='/m/install-app/#{pzh}/#{pzp}') Install an App
    li(data-role="list-divider", role="heading")
      a(class="dash-refresh",href="#") Refresh
