extends layout

block head
  script(src="/js/webinos.js")
  script(src="/js/desktop/console.js")
  script(src="/js/desktop/clientSocket.js")
  script(src="/js/desktop/apps.js")
  script(src="/js/desktop/menu.js")
  script(src="/js/desktop/services.js")
  script(src="/js/desktop/dataCache.js")
  script(src="/js/desktop/explorer.js")
  script
    log = ubi.console.log;
    log("Connecting to webinos");
    webinos.session.addListener ('registeredBrowser', webinos_connected);
    function webinos_connected() {
      log("Webinos connected");
      log("Connected to zone " + webinos.session.getPZPId());
      var connectedPzp = webinos.session.getOtherPZP();
      var connectedPzh = webinos.session.getOtherPZH();
      for (var p in connectedPzh) {
        log("Connected to hub: " + connectedPzh[p]);
      }
      for (var p in connectedPzp) {
        log("Connected to proxy: " + connectedPzp[p]);
      }
    }

    $(function() {
      ubi.explorer.initialise($(".tree-root"),ubi.dataCache);
      ubi.dataCache.initialise("#{user}",function() {
        ubi.dataCache.loadZones();
      });
    });
block west
  div.navigator
    ul.tree-root
      li.tree-branch
        a.tree-expander(href="#") -
        a.folder-tree-item.zones-tree-item(href="#") Zones
        ul
          - for (var zone in zones) {
              li.tree-node.tree-branch
                a.tree-expander(href="#") -
                a.zone-tree-item(id="zone|#{zone}",href="#")= zone
                ul
                  li.tree-node.tree-branch
                    a.tree-expander(href="#") -
                    a.folder-tree-item.devices-tree-item(id="devices|#{zone}",href="#") Devices
                    ul
                      - var deviceCount = 0;
                      - for (var pzp in zones[zone].pzps) {
                        - deviceCount++;
                        li.tree-node.tree-branch
                          a.tree-expander(href="#") -
                          a.device-tree-item(id="device|#{zone}|#{pzp}", href="#")= pzp
                          ul
                            li.tree-node.tree-branch
                              a.tree-expander(href="#") -
                              a.folder-tree-item.apps-folder-item(href="#",id="apps|#{zone}|#{pzp}") Apps
                              ul
                                li.tree-node.tree-leaf None
                            li.tree-node.tree-branch
                              a.tree-expander(href="#") -
                              a.folder-tree-item.device-services-tree-item(id="services|#{zone}|#{pzp}",href="#") Services
                              ul
                                - var serviceCount = 0;
                                - for (var svc in zones[zone].pzps[pzp].services) {
                                  - serviceCount++;
                                  li.tree-node.tree-leaf
                                    a.service-tree-item(href="#",title="#{zones[zone].pzps[pzp].services[svc].serviceAddress}") #{zones[zone].pzps[pzp].services[svc].displayName}
                                - }
                                - if (serviceCount === 0) {
                                  li.tree-node.tree-leaf None
                                - }
                      - }
                      - if (deviceCount === 0) {
                        li.tree-node.tree-leaf None
                      - }
                  li.tree-node.tree-branch
                    a.tree-expander(href="#") -
                    a.folder-tree-item.services-tree-item(id="services|#{zone}",href="#") Services
                    ul
                      - var serviceCount = 0;
                      - for (var svc in zones[zone].services) {
                        - serviceCount++;
                        li.tree-node.tree-leaf
                          a.service-tree-item(href="#",title="#{zones[zone].services[svc].serviceAddress}")= zones[zone].services[svc].displayName
                      - }
                      - if (serviceCount === 0) {
                        li.tree-node.tree-leaf None
                      - }
                  li.tree-node.tree-branch
                    a.tree-expander(href="#") -
                    a.folder-tree-item.friends-tree-item(id="friends|#{zone}", href="#") Friends
                    ul
                      li.tree-node.tree-leaf None
          - }

block centre
